@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

* {
  font-family: "Poppins", sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("images/Header.png");
  background-size: cover;
  opacity: 0.8;
  padding: 10px;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar img.logo {
  width: 180px;
}
header .navbar ul {
  display: flex;
  gap: 40px;
  align-items: center;
  list-style: none;
  padding-right: 30px;
}
header .navbar ul li > a {
  color: #ffffff;
}
header .navbar button {
  background-color: #ffffff;
  color: #b2d234;
  border-radius: 10px;
  height: 39px;
  width: 161px;
  border: none;
}
header ul li a {
  position: relative;
}
header ul li a.Accueil:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 75%;
  height: 2px;
  background-color: #e3dede;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
header ul li a.Accueil:hover:before {
  transform: scaleX(1);
}

.middlePhrase {
  position: relative;
}
.middlePhrase h1 {
  font-size: 126px;
  color: #ffffff;
}
.middlePhrase h2 {
  position: absolute;
  top: 55%;
  right: -10%;
  font-size: 54px;
  transform: rotate(-9deg);
  color: #ffffff;
}

.middlePhrase {
  height: 271.27px;
  width: 647.42px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.réseaux {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 20px;
  padding-top: 20px;
}

.saladeSurMesure {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 2px;
  height: 800px;
  margin-left: 144px;
}
.saladeSurMesure div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.saladeSurMesure h2 {
  font-size: 34px;
  color: #b2d234;
}
.saladeSurMesure p {
  font-size: 18px;
  color: #606060;
}
.saladeSurMesure button {
  color: #ffffff;
  background-color: #b2d234;
  font-size: 24px;
  height: 61px;
  width: 256px;
  border-radius: 10px;
}

.Preparation {
  position: relative;
  background-image: url("images/ismael-trevino-NDyuR4Huig8-unsplash.png");
  background-size: cover;
}

.preparation1 {
  position: absolute;
  top: 24px;
  right: 48px;
  padding: 37px 68px 48px;
  background-color: rgba(178, 210, 52, 0.85);
  width: 632px;
  height: 642px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.preparation1 h2 {
  color: #ffffff;
  text-align: center;
  font-size: 52px;
}
.preparation1 button {
  background-color: #ffffff;
  color: #b2d234;
  border-radius: 10px;
  height: 61px;
  width: 256px;
  border: none;
}
.preparation1 p {
  color: #ffffff;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
  padding: 32px 96px 48px 96px;
}
.menu .menu-top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu .menu-top h2 {
  color: #b2d234;
  font-size: 52px;
  text-align: center;
}
.menu .menu-top p {
  color: #606060;
  font-size: 18px;
  text-align: center;
}
.menu .menu-bottom {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.menu .menu-bottom .containercarte {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu .menu-bottom .containercarte .text {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 8px;
}
.menu .menu-bottom .containercarte .price {
  color: #b2d234;
}
.menu .menu-bottom .partieDroite {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}
.menu .menu-bottom .partieDroite h4 {
  font-size: 64px;
  transform: rotate(-9deg);
  font-style: italic;
}
.menu .menu-bottom .partieDroite .green-text {
  color: #b2d234;
}
.menu .menu-bottom .partieDroite .blue-text {
  color: rgb(64, 109, 135);
}
.menu .menu-bottom .partieDroite p {
  color: #606060;
  font-size: 18px;
  text-align: center;
}
.menu .menu-bottom .partieDroite button {
  padding: 16px 32px;
  border: none;
  border-radius: 10px;
  background-color: #b2d234;
  color: #ffffff;
  font-size: 20px;
}
.menu .sld2-2 {
  border: 2px solid #b2d234;
  padding-right: 300px;
}

.ChezLesVertsChezLesBleus {
  background-image: url("images/louis-hansel-MlPD-AzZYMg-unsplash.png");
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 98px;
}
.ChezLesVertsChezLesBleus .list-ingredients {
  text-align: center;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 243px;
}
.ChezLesVertsChezLesBleus .list-ingredients li {
  font-size: 18px;
  color: #ffffff;
}
.ChezLesVertsChezLesBleus .ChezLesVerts {
  background-color: rgba(178, 210, 52, 0.8);
  height: 493px;
  padding: 84px;
}
.ChezLesVertsChezLesBleus .ChezLesBleus {
  background-color: rgba(96, 160, 216, 0.8);
  height: 493px;
  padding: 84px;
}
.ChezLesVertsChezLesBleus h2 {
  color: #ffffff;
  font-size: 52px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  /* Add styles for screens with a maximum width of 390px */
  .ChezLesVertsChezLesBleus {
    grid-template-columns: 1fr;
  }
}
.formulaire {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding-inline: 48px;
  background-image: url("../../images/feuille.png");
  background-repeat: repeat;
  padding: 10px;
}
.formulaire__left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formulaire__left img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.formulaire__left .ligne {
  position: absolute;
  background-color: #ffffff;
}
.formulaire__left .horizontal {
  width: 400px;
  height: 7px;
}
.formulaire__left .vertical {
  width: 7px;
  height: 400px;
}
.formulaire .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.formulaire .form h3 {
  font-size: 52px;
  color: #b2d234;
}
.formulaire .form h5 {
  font-size: 24px;
  color: #606060;
}
.formulaire .form form .names {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
  padding-bottom: 8px;
}
.formulaire .form form .email {
  padding-bottom: 8px;
}
.formulaire label {
  color: #b2d234;
  font-style: italic;
}
.formulaire button {
  color: #ffffff;
  background-color: #b2d234;
  font-size: 24px;
  height: 61px;
  width: 226px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 25%;
}
.formulaire textarea {
  width: 580px;
  height: 135px;
}
.formulaire .inpumail {
  width: 580px;
}

footer {
  background-color: #b2d234;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
  padding: 24px 48px;
}
footer img {
  width: 200px;
}
footer h3 {
  font-size: 27px;
  color: #ffffff;
}
footer p {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 768px) {
  header {
    height: 840px;
  }
  header .navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  header .navbar img.logo {
    width: 162px;
  }
  header .navbar ul {
    display: flex;
    gap: 17px;
    align-items: center;
    list-style: none;
    padding-right: 0;
    font-size: 17px;
    flex-direction: column;
    padding-top: 20px;
  }
  header .navbar ul button {
    background-color: #ffffff;
    color: #b2d234;
    border-radius: 5px;
    height: 18px;
    width: 87px;
    border: none;
    font-size: 10px;
  }
  .middlePhrase {
    top: 63%;
  }
  .middlePhrase h1 {
    font-size: 60px;
    color: #ffffff;
    display: flex;
    justify-content: center;
  }
  .middlePhrase h2 {
    position: absolute;
    top: 27%;
    right: 24%;
    font-size: 22px;
  }
  .saladeSurMesure {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0;
    margin-left: 40px;
  }
  .saladeSurMesure h2 {
    font-size: 27px;
    color: #b2d234;
  }
  .saladeSurMesure div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 37px;
    flex-direction: column;
    gap: 40px;
    position: absolute;
  }
  .saladeSurMesure div .salad-img {
    opacity: 30%;
  }
  .preparation1 {
    position: absolute;
    top: 24px;
    right: 0;
    padding: 37px 68px 48px;
    background-color: rgba(178, 210, 52, 0.8);
    width: 100vw;
    height: 768px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14px;
  }
  .preparation1 button {
    background-color: #ffffff;
    color: #b2d234;
    border-radius: 10px;
    height: 61px;
    width: 101px;
    border: none;
  }
  .preparation1 h2 {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
  }
  footer {
    flex-direction: column;
    gap: 20px;
  }
  .ChezLesVertsChezLesBleus .ChezLesVerts {
    background-color: rgba(178, 210, 52, 0.8);
    height: 450px;
    margin-left: -23px;
  }
  .ChezLesVertsChezLesBleus .ChezLesBleus {
    background-color: rgba(96, 160, 216, 0.8);
    height: 493px;
    padding: 84px;
    margin-left: -23px;
  }
  .ChezLesVertsChezLesBleus h2 {
    color: #ffffff;
    font-size: 27px;
    text-align: center;
  }
  .menu .menu-bottom {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .menu .menu-bottom .containercarte .text {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 8px;
  }
  .menu .menu-bottom .partieDroite h4 {
    font-size: 37px;
    transform: rotate(-9deg);
    font-style: italic;
  }
  .menu .menu-top h2 {
    color: #b2d234;
    font-size: 31px;
    text-align: center;
  }
  .formulaire {
    grid-template-columns: 1fr;
    padding: 37px;
  }
  .formulaire .form h3 {
    font-size: 35px;
  }
  .formulaire .form h5 {
    font-size: 7px;
  }
  .formulaire .form form .names {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .formulaire .form form label {
    color: #b2d234;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formulaire .form form button {
    margin-top: 30px;
    margin-left: 30%;
  }
  .formulaire .form form img {
    width: 492px;
    height: 400px;
    padding-left: 86px;
  }
  .formulaire__left img {
    width: 200px;
    height: 200px;
  }
  .formulaire__left .horizontal {
    width: 200px;
    height: 7px;
  }
  .formulaire__left .vertical {
    width: 7px;
    height: 200px;
  }
  .formulaire .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    opacity: 82%;
  }
  .formulaire .form .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    opacity: 82%;
  }
  .salad-img {
    opacity: 20%;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
    padding: 0;
  }
  .menu .sld2-2 {
    border: 2px solid #b2d234;
    padding-right: 35px;
  }
}
h3 {
  font-size: 27px;
  color: #b2d234;
  justify-content: center;
  display: flex;
}

button {
  border-radius: 10px;
  background-color: #ffffff;
  color: #b2d234;
  border-radius: 10px;
  height: 61px;
  width: 256px;
  border: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

section {
  width: 100%;
  min-height: 100vh;
}

/*# sourceMappingURL=style.css.map */
